title = "Account"
url = "/account"
layout = "admin"
is_hidden = 0

[account]
redirect = "account"
paramCode = "code"

[session]
security = "all"
redirect = "s"

[demoTodo]
max = 10
==
<?php
function onInit()
{
    //$this->imageUploader->bindModel('files', Project::find(1));
    //new Project;
    #$this->imageUploader->bindModel('photoTest',new \Rainlab\User\Models\User);


    //var_dump($this->page);

//Auth::user->id
//echo '<pre>';
    //print_r(Auth::user->id);
       // echo '</pre>';
//die();


}

function onStart()
{
    #$user = Auth::getUser();
    #echo $user;

    $file_array = file("message.txt");

    if(!$file_array)
    {
        echo("Ошибка открытия файла");
    }
    else
    {
        for($i=0; $i < count($file_array); $i++)
        {
            printf("%s<br>", $file_array[$i]);
        }
    }

}

function onTest()
{
    $value1 = post('value1');
    $value2 = post('value2');
    $this['answer'] = $value1 + $value2;
}
?>
==
<div class="conteiner">
    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 ">
            {% component 'account' %}
        <hr />

        <!-- UPLOADS FILES -->
        {% for role in user.groups() %}
            {% if role.code == 'clients' %}

                <div id="upload" class="dropzone2" style="display:none">

                    <div class="dz-message needsclick">
                        Drop files here or click to upload.<br>
                    </div>
                    {% component 'demoTodo' %}

                </div>

            {% else %}
            {% endif %}
        {% endfor %}
        <!-- END UPLOADS FILES -->

            <!--
                    <form data-request="onTest" data-request-update="accountres: '#result'">
                        <input type="text" name="value1" value=""/>
                        <input type="text" name="value2" value="" />
                        <input type="submit" value="upload">
                    </form>
                    <div id="#result">
                        {% partial "accountres" %}
                    </div>
            -->

        </div>
        <div class="col-lg-1"></div>
    </div>
</div>